__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.log
local_settings.py
db.sqlite3
*.sqlite3

.env
.venv
env/
venv/
ENV/

.coverage
htmlcov/
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

celerybeat-schedule
celerybeat.pid

*.sage.py

.spyderproject
.spyproject
.ropeproject

/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

staticfiles/
media/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
